<div class="form_center" style="width:80%;display:flex; position: absolute; left: 20px; top: 400px;">
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Find</span>
  <input type="text" class="form-control" placeholder="Chef, Hotel..." aria-describedby="basic-addon1">
</div>
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Near</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<input class="btn btn-primary" type="submit" value="Submit">

</div>
