
<div class="form_center" style="width:80%;display:flex; position: absolute; left: 20px; top: 400px;">
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Find</span>
  <input type="text" class="form-control" placeholder="Chef, Hotel..." aria-describedby="basic-addon1">
</div>
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Near</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<input class="btn btn-primary" type="submit" value="Submit">

</div>

<div class="w3-main w3-content w3-padding" style="max-width:960px">
<h1>Products</h1>
    <div class="w3-row-padding w3-padding-16 " id="food">
      <% @products.each do |product| %>

       <div class="w3-quarter">
          <div class="w3-border w3-round-large" style="-webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;">
        <img class="w3-round-large" src= <%= product.images.first %> alt="Norway" style="width:100%; height: 180px;">
        <h4 style="margin-left: 10px;"> <%= link_to "#{product.name.upcase_first}", product ,:style=> 'color:#0073bb; font-weight: bold;' %></h4>
        <p style="margin-left: 10px;"><%= product.city %></p>
       </div>
       <br>
       <br>
       </div>

      <%end%>
    </div> 

</div>

<style type="text/css">
 div.polaroid {
  /*border: 1px solid grey;border-bottom: none;border-radius: 25px;*/
  padding: 15px 15px 15px 15px;
  float: left;
  width: 300px;
  height: 250px
  
  text-align: center;
  
  flex-grow: 1;
  width: 33%;
   -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}
}

div.container {

  padding: 10px;
}
</style>