<h1>New Review</h1>


<%#= render template: "products/_show", product: @product %>

 <hr/>
<%= @product.inspect%>
<%= render 'form', review: @review, product: @product %>

<%= link_to 'Back', reviews_path %>
